.Project_Mark1 ,.Project_Mark2 ,.Project_Mark3  ,.Project_Mark4 ,.Project_Mark5, .Project_Mark6 ,.Project_Mark7 ,.Project_Mark8 ,.Project_Mark9 ,.Project_Mark10 ,.Project_Mark11 ,.Project_Mark12{
    /* width:12vw; */
    height:35vh;
    transition:top 0.4s , background-position 12s cubic-bezier(.4,.74,1,1);
    background-size: cover;
    background-repeat:no-repeat;
    text-align: center;
    z-index: 0;
    width: auto;
}


.Project_Mark1{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/projects/mark1.png);
}

.Project_Mark2{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/projects/mark2.png);
}

.Project_Mark3{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/projects/bananatalk.png);
}

.Project_Mark4{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/projects/swedishtalk.png);
}

.Project_Mark5{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/projects/emoji.png);
}

.Project_Mark6{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/projects/movie.png);
}
.Project_Mark7{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/projects/cashregistermanager.png);
}
.Project_Mark8{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/projects/birthdayluckynumber2.png);
}
.Project_Mark9{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/projects/funwithtriangles.png);
}
.Project_Mark10{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/projects/birthdaypalindrome.png);
}
.Project_Mark11{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/projects/stockprofitloss.png);
}
.Project_Mark12{
    background:linear-gradient( rgba(124, 115, 115, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../img/img/medium.jpeg);
}


.Project_Mark1:hover ,
.Project_Mark2:hover ,
.Project_Mark3:hover ,
.Project_Mark4:hover ,
.Project_Mark5:hover ,
.Project_Mark6:hover ,
.Project_Mark7:hover ,
.Project_Mark8:hover ,
.Project_Mark9:hover ,
.Project_Mark10:hover ,
.Project_Mark11:hover ,
.Project_Mark12:hover{
    top:-71vh;
    background-position: 100% 50%;
    opacity: 1;
}

.Project_Mark1_heading ,.Project_Mark1_heading_content ,.Project_Mark1_heading_content-buttonChip 
,.Project_Mark1_heading_content-button-Live,.Project_Mark1_heading_content-button-ViewSourceCode{
    justify-content :center;
    display: block;
    position: relative;
    top:20%;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    padding-bottom: 2vh;
}

.Project_Mark1_heading_content{
    font-weight: 700;
    font-size: 1rem;
}

.Project_Mark1_heading_content-button-ViewSourceCode{
    padding-bottom: 6vh;
}
.Project_Mark1_heading_content-button-Live{
    padding-top: 3vh;
}

.button-SOURCE{
    background-color:transparent; 
    color: white; 
    border: 2px solid black;
    text-decoration: none;
}

.button-SOURCE:hover{
    background-color: black;
    color: white;
 }

 .Project_Mark1_heading_content-button-Live>.MuiButton-outlined{
   border: none;
 }

 .Project_Mark1_heading_content-button-ViewSourceCode>.MuiButton-root{
     color: white;
 }

 .link1{
     text-decoration: none;
     color: white;
 }

 .alink{
    text-decoration: none;
    color: black;
}


  .button-Live {
    background-color:transparent; 
    color: black; 
    border: 2px solid #af4c4c;
  }
  
  .button-Live:hover {
    background-color: #af4c4c;
    color: white;
  }
  
/*----------------------------------------------------*/

.img_projects{
    width: 20%;
}

.img_projects:hover{
    width: 30%;
}

/*---------------------------------------------*/
.flex-col{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.flex-row{
    /* display: flex;
    column-gap: 1rem; */
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    background: transparent;
    padding-top: 2rem;
    padding-bottom:2rem ;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .flex-row{
        grid-template-columns: 1fr;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .flex-row{
        grid-template-columns: 1fr 1fr;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 766px) {
    .flex-row{
        grid-template-columns: 1fr 1fr ;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flex-row{
        grid-template-columns: 1fr 1fr 1fr;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .flex-row{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}




  
  



